*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
height: 200vh;
}


nav{
    z-index: 10;
    background-color:white;
    position: fixed;
    /* border: 3px solid black; */
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    top: 0%;

    & h1{
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Roboto', sans-serif;
        letter-spacing: -2px;
    } 
}
.one{
    /* border: 1px solid black; */
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: -10px;
    
}
.two{
    /* border: 1px solid black; */
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
}
.three{
    /* border: 1px solid black; */
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: -40px;
}
.hamburger{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.youtube{
    width: 30px;
    height: 20px;
}
.ngdiv{
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
.input{
    width: 500px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid gray;
    font-size: 20px;

}
.button{
    border: 2px solid gray;
    width: 70px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.search{
    width: 20px;
    height: 20px;
}
.voice{
    width: 25px;
    height: 25px;
    margin-left: 7px;
}
.voicediv{
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(247, 242, 242);
    display: flex;
    align-items: center;
    transition: 1s;
}
.voicediv:hover{
    background-color: rgb(180, 177, 177);
}
.video{
    width: 25px;
    height: 25px;
    margin-left: 7px;
}
.videodiv{
       /* border: 1px solid black; */
       width: 40px;
       height: 40px;
       border-radius: 50px;
       display: flex;
       align-items: center;
       transition: 1s;
}
.videodiv:hover{
    background-color: rgb(180, 177, 177);
}
.bell{
    width: 25px;
    height: 25px;
    margin-left: 7px;
}
.belldiv{
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: 1s;
}
.belldiv:hover{
    background-color: rgb(180, 177, 177);
}
.Tdiv{
     /* border: 1px solid black; */
     background-color: rgb(6, 49, 6);
     width: 40px;
     height: 40px;
     border-radius: 50px;
     display: flex;
     align-items: center;
}
.T{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
/* nav bar coding ends here */
/* aside starts here */
aside{
    border: 1px solid black;
    width: 240px;
    height: 100vh;
    cursor: pointer;
    overflow: scroll;
    position:fixed

}
.b1{
    /* border: 1px solid black; */
    /* background-color: ; */
    width: 190px;
    height: 40px;
    margin-top: 80px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 15px;
    font-family: 'Noto Sans JP', sans-serif;
;
font-weight: bolder;
background-color: rgb(247, 242, 242);
border-radius: 10px;
}
.b1:hover{
    background-color: rgb(218, 215, 215);
}
.home{
    width: 16px;
    height: 20px;
}
.b2{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.shorts{
    width: 30px;
    height: 30px;
}
.b2:hover{
    background-color: rgb(218, 215, 215);
}
.b3{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.sub{
    width: 15px;
    height: 15px;
}
.b3:hover{
    background-color: rgb(218, 215, 215);
}
.b4{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;

}
.hr{
    width: 210px;
}
.b5{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b5:hover{
    background-color: rgb(218, 215, 215);
}
.b6{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.channel{
    width: 20px;
    height: 25px;
}
.b6:hover{
    background-color: rgb(218, 215, 215);
}
.b7{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 85px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.history{
    width: 20px;
    height: 20px;
}
.b7:hover{
    background-color: rgb(218, 215, 215);
}
.b8{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.yourv{
    width: 25px;
    height: 25px;
}
.b8:hover{
    background-color: rgb(218, 215, 215);
}
.b9{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.watch{
    width: 20px;
    height: 20px;
}
.b9:hover{
    background-color: rgb(218, 215, 215);
}
.b10{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.like{
    width: 25px;
    height: 25px;
}
.b10:hover{
    background-color: rgb(218, 215, 215);
}
.b11{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;

}
.hr2{
    width: 210px;
}
.b12{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-weight: bolder;
}
.b13{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 67px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.emoji{
    width: 30px;
    height: 30px;
}
.b13:hover{
    background-color: rgb(218, 215, 215);
}
.b14{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b14:hover{
    background-color: rgb(218, 215, 215);
}
.b15{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b15:hover{
    background-color: rgb(218, 215, 215);
}
.b16{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 37px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b16:hover{
    background-color: rgb(218, 215, 215);
}
.b17{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 67px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b17:hover{
    background-color: rgb(218, 215, 215);
}
.b18{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b18:hover{
    background-color: rgb(218, 215, 215);
}
.b19{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 87px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b19:hover{
    background-color: rgb(218, 215, 215);
}
.b20{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 87px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b20:hover{
    background-color: rgb(218, 215, 215);
}
.b21{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 37px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-size: 13px;
}
.browse{
    width: 22px;
    height: 22px;
}
.b21:hover{
    background-color: rgb(218, 215, 215);
}
.b22{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b22:hover{
    background-color: rgb(218, 215, 215);
}
.b23{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-weight: bold;
}
.b24{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b24:hover{
    background-color: rgb(218, 215, 215);
}
.trending{
    width: 22px;
    height: 22px;
}
.b25{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 95px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b25:hover{
    background-color: rgb(218, 215, 215);
}
.music{
    width: 30px;
    height: 25px;
}
.b26{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 85px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b26:hover{
    background-color: rgb(218, 215, 215);
}
.gaming{
    width: 30px;
    height: 30px;
}
.b27{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 97px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b27:hover{
    background-color: rgb(218, 215, 215);
}
.news{
    width: 30px;
    height: 25px;
}
.b28{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 99px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b28:hover{
    background-color: rgb(218, 215, 215);
}
.sport{
    width: 20px;
    height: 25px;
}
.b29{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}

.b30{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-size: 14px;
}
.b30:hover{
    background-color: rgb(218, 215, 215);
}
.youtube2{
    width: 15px;
    height: 14px;
}
.b31{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 55px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-size: 14px;
}
.b31:hover{
    background-color: rgb(218, 215, 215);
}
.studio{
    width: 20px;
    height: 20px;
}
.b32{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-size: 14px;
}
.b32:hover{
    background-color: rgb(218, 215, 215);
}
.youtubemusic{
    width: 20px;
    height: 20px;
}
.b33{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 7px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
    font-size: 14px;
}
.b33:hover{
    background-color: rgb(218, 215, 215);
}
.kids{
    width: 25px;
    height: 25px;
}
.b34{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b34:hover{
    background-color: rgb(218, 215, 215);
}
.settings{
    width: 20px;
    height: 20px;
}
.b35{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b35:hover{
    background-color: rgb(218, 215, 215);
}
.report{
    width: 15px;
    height: 15px;
}
.b36{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 110px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b36:hover{
    background-color: rgb(218, 215, 215);
}
.help{
    width: 20px;
    height: 20px;
}
.b37{
    /* border: 1px solid black; */
    width: 190px;
    height: 40px;
    /* margin-top: 80px; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 37px;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 10px;
}
.b37:hover{
    background-color: rgb(218, 215, 215);
}
.send{
    width: 15px;
    height: 20px;
}
footer{
    /* border: 1px solid black; */
    width: 200px;
    height: 200px;
    margin-left: 20px;
    display: flex;
    
}
.footbar{
    /* border: 1px solid black; */
    width: 200px;
    height: 200px;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    justify-content: space-between;
    top: 0;
    /* padding-right: 5px;
    padding-left: 5px; */
}
/* aside ends here */
/* main coding start here */
main{
    border: 2px solid green;
    /* background-color: aqua; */
    width: 81vw;
    height: 100vh;
    margin-left: 240px;
    display: grid;
    position: relative;
}
.top1{
    border: 1px solid black;
    width: 200vw;
    /* width: 81vw; */
    height: 50px;
    margin-top: 60px;
    display: flex;
    position: fixed;
    z-index: 10;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: bold;
    /* padding-right: 980px; */
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    gap: 20px;


    & #all {
        width: 43px;
        height: 35px; 
        margin-left: -40px;
        text-align: center;
        letter-spacing: 1px;
        background-color: black;
        align-items: center;
        align-content: center;
        color: white;
        border-radius: 10px;
        padding-top: 5px;
    }
    & #music {
        width: 67px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #jenifa {
        width: 67px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #sketch {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #premier {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #sport {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #real {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #worship {
        width: 250px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #ron {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #martial {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #live {
        width: 67px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #news {
        width: 67px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #blessings {
        width: 160px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #stages {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #recently {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #watched {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
     & #new {
        width: 150px;
        height: 35px;
        background-color: rgb(247, 242, 242);
        align-items: center;
        align-content: center;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        padding-top: 5px;
     }
}
#jenifa:hover{
    background-color: rgb(218, 215, 215);
}
/* top1 coding ends here */
.parent{
    width: 81vw;
    height: 200vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 30px; */
    margin-top: 140px;
}
.box{
    border: 1px solid black;
    /* background-color: red; */
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}
.box-vid{
    border: 1px solid black;
    width: 350px;
    height: 200px;
    background-size: cover;
    margin-top: -50px;
    border-radius: 10px;
}
.box p{
    text-align: center;
    font-family: fantasy;
    cursor: pointer;
}