/* p{
    visibility: hidden;
   
}
p:target{
    visibility: visible;
} */
main h1:nth-of-type(2){
color: rgb(0, 255, 0);
}
main{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}
/* p:nth-child(2){
    color: red;
    font-size: 30px;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: blue;

}
div p:first-child{
    color: blue;
    font-size: 30px;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: gray;

}
div p:last-child{
    color: rgb(244, 244, 248);
    font-size: 30px;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: rgb(240, 12, 12);

}
section{
    border: 1px solid black;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
}
main:nth-child(1){
    border: 1px solid black;
    width: 250px;
    height: 250px;
    background-color: blue;
}
main:nth-child(2){
    border: 1px solid black;
    width: 250px;
    height: 250px;
    background-color: black;
    transition: 0.05s;
}
main:nth-child(2):hover{
    background-color: blue;
} */
p:nth-last-child(3){
    background-color: blue;
}

a:visited{
    color: green;
    font-weight: bolder;
}
a:link{
    color: aqua;
    font-weight: bolder;
}