*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}
aside{
    /* border: 1px solid black; */
    width: 200px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
a{
    border: 3px solid burlywood;
    border-radius: 100px;
    background-color: rgb(209, 168, 247);
    width: 100px;
    height: 60px;
    font-family: cursive;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 15px;
    transition: 0.05;
    transform: skewX(30deg);
    /* transform: scale(1.5); */
}
 a:hover{
    background-color: rgb(103, 103, 209);
}
main{
    /* border: 3px solid black; */
    width: 900px;
    height: 650px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;

    & #car{
        /* border: 1px solid red; */
        width: 700px;
        height: 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        column-gap: 20px;
        position: absolute;
        margin-top: 50px;
        visibility: hidden;
        transition: 0.5s;
   }
   & #car:hover{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwMwasQwhvZOd6QaH2-CE9TA0IS81djjm1vg&usqp=CAU);
    transform: scale(1.2);
    border-radius: 50px;
   }
   & #dog{
    /* border: 2px solid blue; */
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    column-gap: 20px;
    position: absolute;
    margin-top: 50px;
    visibility: hidden;
}
& #dog:hover{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBJNxYBagZaf-kIFi2BVJL-zsO6gMqrqNBcg&usqp=CAU);
    transform: scale(1.2);
    border-radius: 50px;
   }
& #house{
    /* border: 2px solid rgb(255, 0, 140); */
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    column-gap: 20px;
    position: absolute;
    margin-top: 50px;
    visibility: hidden;
}
& #house:hover{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbIJh9UXavvS98xtHMgpFxKLNrljw7ys8sbA&usqp=CAU);
    transform: scale(1.2);
    border-radius: 50px;
   }
& #players{
    /* border: 1px solid rgb(30, 255, 0); */
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    column-gap: 20px;
    position: absolute;
    margin-top: 50px;
    visibility: hidden;
}
& #players:hover{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjUaEeD4jg2REZjVykOkOUoJBGq4XB2aRNOA&usqp=CAU);
    transform: scale(1.2);
    border-radius: 50px;
   }
& #car:target{
    visibility: visible;
}
& #dog:target{
    visibility: visible;
}
& #house:target{
    visibility: visible;
}
& #players:target{
    visibility: visible;
}
& .c1{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXHIeIBBLjL8Kf8sQ-72EqZjmib3Spmnqlg&usqp=CAU);
    background-size: contain;

    &.c1:hover{
        transform:scale(1.2);
    }
}
& .c2{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIRBapdMPv8kKWesKVdOtuK1A1zjLv1papOg&usqp=CAU);
    background-size: contain;

    &.c2:hover{
        transform:scale(1.2);
    }
}
& .c3{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGFoYUgz196kIezIj91_FBjcOzf70L92eEcg&usqp=CAU);
    background-size: contain;

    &.c3:hover{
        transform:scale(1.2);
    }
}
& .c4{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXgtlGL-Cv2EZI2ZE7r5iVrRkghq9Bt0j12Q&usqp=CAU);
    background-size: contain;

    &.c4:hover{
        transform:scale(1.2);
    }
}
& .d1{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgDFp3dmPTGj1xOEuSlAt-ilTfBOmYfth5hQ&usqp=CAU);
  background-size: contain;

    &.d1:hover{
        transform:scale(1.2);
    }
}
& .d2{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/boston-terrier-portrait.jpg);
    background-size: contain;

    &.d2:hover{
        transform:scale(1.2);
    }
}
& .d3{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/shih-tzu-portrait.jpg);
    background-size: contain;

    &.d3:hover{
        transform:scale(1.2);
    }
}
& .d4{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/pomeranian-portrait.jpg);
    background-size: cover;

    &.d4:hover{
        transform:scale(1.2);
    }
}
& .h1{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxwTQlgEnFUe6SddbuVyIr6QTIZgJIEwj-2A&usqp=CAU);
    background-size: contain;

    &.h1:hover{
        transform:scale(1.2);
    }
}
& .h2{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVOAfWMMfKXAvkpfOOmb-3Y1rn4hgbMc3N-w&usqp=CAU);
    background-size: contain;

    &.h2:hover{
        transform:scale(1.2);
    }
}
& .h3{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBtI-4-vJivTeXJ-vP1NGG7IwlvWBhqfEa8g&usqp=CAU);
    background-size: contain;

    &.h3:hover{
        transform:scale(1.2);
    }
}
& .h4{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjx4Fs7Yeh2ZPU1QowcCAjdyKcDObGD8PZ7g&usqp=CAU);
    background-size: contain;

    &.h4:hover{
        transform:scale(1.2);
    }
}
& .p1{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/messi-98iu-gull-g.jpg);
    background-size: contain;

    &.p1:hover{
        transform:scale(1.2);
    }
}
& .p2{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/cristiano-ronaldo--b-corporate-art-task-force.jpg);
    background-size: cover;

    &.p2:hover{
        transform:scale(1.2);
    }
}
& .p3{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://www.bellanaija.com/wp-content/uploads/2014/05/Jay-Jay-Okocha-May-2014-BellaNaija.com-01.jpg);
    background-size: contain;

    &.p3:hover{
        transform:scale(1.2);
    }
}
& .p4{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    background-image: url(https://leadership.ng/wp-content/uploads/2022/08/KANU-NWANKWO.png);
    background-size: cover;

    &.p4:hover{
        transform:scale(1.2);
    }
}
}



