Place in your CSS file at the top of the document

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

div{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    transition: 2s;
    border-radius: 50px;
    background-color: yellow;
    margin: auto;
    margin-top: 200px;
    animation: 5s drop ease-out infinite;
}
 @keyframes drop
    0%{
transform: translate(10px);
background-color: blue;
    }
    20%{
transform: translate(500px);
background-color: red;
    }
    40%{
        background-color: green;
    }
    60%{
        background-color: yellow;
    }
    80%{
        background-color: aqua;
    }
    100%{
        background-color: black;
    }

div:hover{
    /* background-color: aqua;
    border-radius: 50px; */
    /* transform: translatex(300px); */
    /* transform: translateY(200px); */
    /* transform: translate(400px,-200px); */
    /* transform: rotate(360deg); */
    /* transform: rotateX(360deg); */
    /* transform: rotateY(360deg); */
    /* transform: rotateX(360deg); */
    /* transform: skew(30deg); */
    /* transform: skewY(20deg); */
    /* transform: scale(2,2); */

}

/* h1 {
    font-family: 'Pacifico', cursive;
} */
#box{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: blue;
}
.dropdown{
    border: 1px solid black;
    width: 100px;
    height: 70px;
}
.content{
    border: 1px solid black;
    width: 900px;
    height: 250px;
    display: none;
}
.dropdown:hover{
    .content{
        display: block;
    }
}
input:focus{
    
}